@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 2;
    }
}

.quote-item {
    padding: .75rem 0;
    display: inherit;
    float: left;
    flex-direction: row;
}   

.quote-report {
    display: inline-block;
    color: #ff4d4d;
    float: right;
    display: none;
    margin-left: auto;
}

.quote-likes {
    font-size: 1.25rem;
    cursor: pointer;
    min-width: 1.8em;
    max-width: 1.8em;
    text-align: center;
}

.quote-item blockquote {
    padding: 0 .1em;
}

.qoute-extras {
    min-height: 100%;
}

.card-body {
    padding: 0 .5em;
}

.card{
    border: 0px;
}

.toolbar{
    display: inline-block;
    float: right;
    cursor:pointer;
}
